<div class="main">
  <h1>My to Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>
  <div class="input-group">
    <input
      #newItem
      placeholder="add an item"
      (keyup.enter)="addItem(newItem.value)"
      class="form-control"
      id="addItemInput"
    />

   <button class="btn btn-primary" (click)="addItem(newItem.value)">Add</button>
  </div>
  
  <ul>
    <li *ngFor="let item of items">{{item.description}}</li>
  </ul>
</div>